<footer class="footer">
  <!-- Footer part-1 -->
  <div class="footer-1">
    <div class="f-info-1">
      <div class="airbnb-links">
        <ul>
          <li><strong>SUPPORT</strong></li>
          <li>Help centre</li>
          <li>Aircover</li>
          <li>Cancelation Options</li>
          <li>Disability Support</li>
          <li>Anti-discrimination</li>
        </ul>
      </div>
      <div class="airbnb-links">
        <ul>
          <li><strong>HOSTING</strong></li>
          <li>Airbnb your home</li>
          <li>AirCover for Hosts</li>
          <li>Hosting resources</li>
          <li>Community forum</li>
          <li>Hosting responsibly</li>
        </ul>
      </div>
      <div class="airbnb-links">
        <ul>
          <li><strong>Airbnb</strong></li>
          <li>News Room</li>
          <li>New Features</li>
          <li>Career</li>
          <li>Investers</li>
          <li>Airbnb.org emergency stays</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer part-2 -->
  <div class="footer-2">
    <div class="f-info-2">
      <div class="f-info-links">
        <div class="f-info-brand">&copy;2025 &nbsp;Airbnb , Inc</div>
        <div style="margin-left: 20px">
          <a class="text-dark" href="https://www.airbnb.co.in/help/article/2855"
            >Privacy</a
          >&nbsp; &#x2022; &nbsp; &nbsp;
          <a class="text-dark" href="https://www.airbnb.co.in/help/article/2908"
            >Terms</a
          >
          &nbsp; &#x2022;
          <a class="text-dark" href="https://www.airbnb.co.in/help/article/2855"
            >Company &nbsp;Details</a
          >
        </div>
      </div>
      <div class="f-social-info">
        <div style="color: black">&#127760;</div>
        &nbsp;&nbsp;&nbsp;
        <div>
          <a
            href=""
            style="text-decoration: none; color: black; letter-spacing: 1px"
            >ENGLISH(IN)</a
          >
        </div>
        &nbsp; &nbsp; &nbsp;
        <div>&#8377; &nbsp; INR</div>
        <div>
          <a
            href="https://www.facebook.com/AirbnbIndia/?brand_redir=324826532457"
            ><i class="fa-brands fa-square-facebook facebook"></i
          ></a>
          <a href="https://www.instagram.com/airbnb/"
            ><i class="fa-brands fa-square-instagram instagram"></i
          ></a>
          <a href="https://www.linkedin.com/company/airbnb/"
            ><i class="fa-brands fa-linkedin linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
