<style>
  .btn-search {
    display: inline;
    margin-right: 5px;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand mt-2" href="/listing">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="50"
        height="40"
        viewBox="0,0,256,256"
      >
        <g
          fill="none"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
        >
          <g transform="scale(3.2,3.2)">
            <path
              d="M57.913,79.021c-5.826,0 -10.011,-3.742 -13.373,-6.749c-1.693,-1.514 -3.217,-3.013 -4.591,-4.484c-1.6,1.817 -3.404,3.732 -5.432,5.739v0c-3.633,3.594 -7.91,5.494 -12.371,5.494c-9.439,0 -17.117,-7.974 -17.117,-17.776c0,-1.85 0.273,-3.675 0.811,-5.422l0.122,-0.308l22.395,-46.2c1.858,-4.966 6.535,-8.294 11.672,-8.294c5.012,0 9.518,3.081 11.5,7.857l21.739,44.51c1.173,2.475 1.76,5.11 1.76,7.858c0.001,9.802 -7.677,17.775 -17.115,17.775zM42.652,64.577c1.347,1.465 2.859,2.964 4.554,4.479c3.626,3.242 6.715,5.721 10.707,5.721c7.184,0 13.029,-6.07 13.029,-13.531c0,-2.092 -0.447,-4.098 -1.329,-5.962l-21.818,-44.678c-1.325,-3.244 -4.374,-5.339 -7.766,-5.339c-3.486,0 -6.656,2.274 -7.889,5.66l-0.087,0.203l-22.365,46.141c-0.379,1.283 -0.571,2.619 -0.571,3.975c0,7.461 5.845,13.531 13.029,13.531c4.283,0 7.557,-2.35 9.55,-4.323v0c2.077,-2.054 3.896,-3.998 5.491,-5.831c-9.22,-11.319 -9.659,-20.353 -9.675,-20.811c-0.001,-7.245 5.614,-13.077 12.517,-13.077c6.874,0 12.471,5.784 12.518,12.911c0.089,1.338 0.025,8.568 -9.895,20.931zM40.029,34.981c-4.648,0 -8.431,3.928 -8.431,8.755c0.003,0.025 0.461,7.713 8.298,17.616c8.809,-11.215 8.574,-17.368 8.57,-17.444l-0.007,-0.172c0.001,-4.828 -3.781,-8.755 -8.43,-8.755z"
              fill="#b60e0e"
            ></path>
            <path
              d="M40.029,1.021c5.012,0 9.518,3.081 11.5,7.857l21.739,44.51c1.173,2.475 1.76,5.11 1.76,7.858c0,9.802 -7.678,17.776 -17.117,17.776c-5.826,0 -10.011,-3.742 -13.373,-6.749c-1.693,-1.514 -3.217,-3.013 -4.591,-4.484c-1.6,1.817 -3.404,3.732 -5.432,5.739c-3.632,3.594 -7.91,5.494 -12.37,5.494c-9.439,0 -17.117,-7.974 -17.117,-17.776c0,-1.85 0.273,-3.675 0.811,-5.422l0.122,-0.308l22.396,-46.201c1.858,-4.966 6.535,-8.294 11.672,-8.294M22.146,74.777c4.283,0 7.557,-2.35 9.55,-4.323c2.077,-2.054 3.896,-3.998 5.491,-5.831c-9.22,-11.319 -9.659,-20.353 -9.675,-20.811c-0.001,-7.245 5.614,-13.077 12.517,-13.077c6.874,0 12.471,5.784 12.518,12.911c0.089,1.337 0.024,8.568 -9.896,20.93c1.347,1.465 2.859,2.964 4.554,4.479c3.625,3.242 6.715,5.721 10.707,5.721c7.184,0 13.029,-6.07 13.029,-13.531c0,-2.092 -0.447,-4.098 -1.329,-5.962l-21.817,-44.677c-1.325,-3.244 -4.374,-5.339 -7.766,-5.339c-3.486,0 -6.656,2.274 -7.889,5.66l-0.087,0.203l-22.365,46.141c-0.379,1.283 -0.571,2.619 -0.571,3.975c0,7.461 5.845,13.531 13.029,13.531M39.897,61.352c8.809,-11.215 8.574,-17.368 8.57,-17.444l-0.007,-0.172c0,-4.827 -3.782,-8.755 -8.431,-8.755c-4.649,0 -8.431,3.928 -8.431,8.755c0.004,0.025 0.462,7.712 8.299,17.616M40.029,0.021c-5.525,0 -10.579,3.574 -12.592,8.899l-22.374,46.16l-0.016,0.034l-0.014,0.035l-0.122,0.308l-0.014,0.036l-0.012,0.037c-0.568,1.844 -0.855,3.768 -0.855,5.716c0,10.353 8.127,18.776 18.117,18.776c4.729,0 9.25,-2 13.074,-5.783c1.689,-1.672 3.284,-3.341 4.752,-4.973c1.224,1.269 2.532,2.528 3.9,3.752c3.489,3.12 7.832,7.003 14.04,7.003c9.99,0 18.117,-8.423 18.117,-18.776c0,-2.898 -0.625,-5.686 -1.857,-8.286l-21.732,-44.493c-2.142,-5.131 -7.011,-8.445 -12.412,-8.445zM10.624,57.631l22.329,-46.066l0.106,-0.246l0.011,-0.025l0.009,-0.026c1.089,-2.992 3.882,-5.002 6.949,-5.002c2.984,0 5.67,1.852 6.84,4.717l0.013,0.031l0.015,0.03l21.817,44.678c0.813,1.718 1.228,3.58 1.228,5.523c0,6.909 -5.396,12.531 -12.029,12.531c-3.638,0 -6.577,-2.369 -10.04,-5.466c-1.377,-1.231 -2.687,-2.502 -3.902,-3.786c9.546,-12.156 9.665,-19.471 9.577,-20.913c-0.066,-7.653 -6.124,-13.875 -13.518,-13.875c-3.617,0 -7.016,1.466 -9.569,4.129c-2.546,2.655 -3.948,6.188 -3.948,9.948c0.014,0.421 0.428,9.48 9.37,20.782c-1.498,1.69 -3.139,3.418 -4.888,5.148c-1.859,1.84 -4.904,4.034 -8.847,4.034c-6.633,0 -12.029,-5.621 -12.029,-12.531c-0.001,-1.233 0.17,-2.449 0.506,-3.615zM32.599,43.698c0.019,-4.259 3.345,-7.718 7.431,-7.718c4.097,0 7.431,3.479 7.431,7.755l0.008,0.212c0.002,0.058 0.085,5.653 -7.571,15.766c-6.568,-8.729 -7.252,-15.443 -7.299,-16.015z"
              fill="#c74343"
            ></path>
          </g>
        </g>
      </svg>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">Explore</a>
      </div>
      <div class="search ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search You Home"
            aria-label="Search"
          />
          <button class="btn btn-outline-danger" type="submit">
            <i class="fa-solid fa-magnifying-glass btn-search"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <!-- <h4><i class="fa-solid fa-moon mt-3"></i></h4> -->
        <a class="nav-link mt-2 me-2 ayh" href="/listing/new"
          >Airbnb Your Home</a
        >
        <% if(!currUser){ %>
        <a class="nav-link mt-2" aria-current="page" href="/signup"
          ><b>SignUp</b></a
        >
        <a class="nav-link mt-2" href="/login"><b>Log in</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link me-4" href="/logout">
          <button class="Btn">
            <div class="sign">
              <svg viewBox="0 0 512 512">
                <path
                  d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                ></path>
              </svg>
            </div>
            <div class="text">Logout</div>
          </button>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
