body {
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  flex: 1;
  width: 100%;
}

/* Navbar */

.navbar {
  height: 5rem;
  background-color: #fff;
  width: 100vw !important;
}

.fa-compass {
  color: #fe424d;
  font-size: 1.8rem;
}

.nav-link {
  color: black !important ;
}

.nav-link:hover {
  font-weight: 500 !important;
}

/* Footer */

.footer-1 {
  background-color: #ebebeb;
  border-bottom: 2px solid #cdc1c1;
}

.f-info-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 57%;
  width: 100%;
  padding: 20px;
}

.f-info-1 li {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  font-family: sans-serif;
  opacity: 0.75;
}

.f-info-1 li:hover {
  opacity: 1;
  cursor: pointer;
}

.footer {
  width: 100vw !important;
}

.f-social-info,
.f-info-links {
  display: flex;
}

.f-info-brand {
  font-weight: 500;
}

.f-social-info i {
  opacity: 0.8;
  color: black;
  margin-left: 2rem;
  font-size: 1.3rem;
}

.f-social-info a {
  text-decoration: underline;
}

.f-social-info i:hover {
  transform: scale(1.2);
  opacity: 1;
}

.airbnb-links {
  margin-left: 100px;
}

.f-info-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
  text-align: center;
  padding: 0 110px;
  width: 100%;
  height: 5rem;
  background-color: #ebebeb;
  padding-bottom: 20px;
  font-size: 15px;
}

.f-info-links a {
  text-decoration: none;
  margin-left: 0.4rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* card */

.listing-card {
  border: none !important;
  margin-bottom: 1rem;
}

.card-img-top {
  width: 100% !important;
  border-radius: 10px !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* NEW Page */
.new-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit page */

.edit-heading {
  margin-bottom: 1rem;
}

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* show page */

.show-img {
  height: 45vh;
  width: 50vw !important;
}

.show-btns {
  display: flex;
}

.show-edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.err-font {
  margin-top: 4px !important ;
}

/*  LOGIN PAGE  */

.login-h {
  letter-spacing: 4px;
  font-family: cursive;
  font-weight: 500;
  filter: drop-shadow(1px 1px 2px rgb(215, 0, 0));
}

/* SIGN IN PAGE */

.sign-h {
  margin-left: 15px;
  letter-spacing: 4px;
  font-family: cursive;
  font-weight: 500;
  filter: drop-shadow(1px 1px 2px rgb(215, 0, 0));
}

/* Logout */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #fe424d;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 20px;
  /* margin-right:5px; */
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 100px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 20%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
  margin-right: 12px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

/*  New Account  */

.new-acc {
  text-decoration: none;
  font-weight: 700;
}

/* Review Background */

.review-bg {
  background-color: #ebebeb !important;
}

/* MAP */

#map {
  height: 500px;
  width: 100%;
}

.filter i:hover {
  font-size: 15px;
}

.filter p:hover {
  font-weight: bold;
}
