<% layout("/layouts/boilerplate.ejs") %> 

<br>
<body>
  <div class="row">
    <div class="col-8 offset-2" >
    <h2>Create New Listing</h2>
    <form method="POST" action="/listing" novalidate class="needs-validation">
      
       <div class="mb-3">
          <label for="title" class="form-label">Title</label>  
          <input name="listing[title]" type="text" placeholder="Add a patchy Title" class="form-control"  required>
          <div class="invalid-feedback">Enter  valid  title</div>
          <div class="valid-feedback "> looks good !</div>
       </div>

      <div class="mb-3">
         <label for="description" class="form-label">Description</label>
         <textarea  name="listing[description]"  minlength="20" type="text" placeholder="Enter description" rows="5" cols="30" class="form-control" required ></textarea>
         <div class="invalid-feedback">Enter  valid description (min - 20 char.)</div>
         <div class="valid-feedback ">  looks good !</div>
      </div>

      <div class="mb-3">
         <label for="image" class="form-label">Image URL</label>
         <input name="listing[image]" type="text" placeholder="image URL/link" class="form-control" >
      </div>

      <div class="row">
         <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" type="number" step="50" placeholder="Enter price" class="form-control" required>
            <div class="invalid-feedback">Enter  valid  price</div>
            <div class="valid-feedback ">  looks good !</div>
         </div>
   
         <div class="mb-3 col-md-8" >
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" type="text" placeholder="Enter country" class="form-control" required >
            <div class="invalid-feedback">Enter  valid  country</div>
            <div class="valid-feedback ">  looks good !</div>
         </div>
      </div>

      <div class="mb-3">
         <label for="location" class="form-label">Location</label>
         <input name="listing[location]" type="text" placeholder="Enter location" class="form-control" required>
         <div class="invalid-feedback">Enter  valid  Location</div>
         <div class="valid-feedback ">  looks good !</div>
      </div>

      <button class="btn btn-dark new-btn">Add Detail</button><br><br>
   </form>
  </div>
 </div>
</body>
